
        /* font family */
      

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: poppins,sans-serif;
        }
        :root{
            --primary-text-color:#3A3A3A;
            --secondary-text-color:#0A0826;
            --third-text-color:rgba(24, 25, 31, 1);
            --fourth-text-color:#787885;
            --primary-font-size:1.5rem;/*24px*/
            --secondary-font-size:3.25rem;/*52px*/
            --third-font-size:1.75rem;/*28px*/
            --fourth-font-size:0.875rem;/*14px*/
            --fifth-font-size:2.38rem;/*38px*/

        }
        /* shared style */
        .display-flex{
            display: flex;
        }
        .primary-btn{
            background-color:#E02C6D;
           font-weight: bold;
           color: #FFFFFF;
           padding: 10px 24px 10px 24px;
           border: none;
           border-radius: 41px;
        }
        .praimary-btn i{
            margin-left: 8px;
        }

/* nav start */

header{
    max-width: 1440px;
    margin: auto;

}
nav{
  
    justify-content: space-between;
    width:90%;
    padding: 50px 0;
    align-items: center;
margin: auto;
}
.nav-ber-icon, .nav-shopping-icon{
    display: none;
}
.nav-title{
    font-size: var(--primary-font-size);
    font-weight: bold;
    color: var(--primary-text-color);


}
nav ul{
    gap: 34px;
}
nav li{
    list-style: none;

}
nav li *{
    text-decoration: none;
    color:var(--primary-text-color);
    font-weight: 600;

}
/* nav end */
/* banner start */
.banner{
  
    width: 90%;
    justify-content: space-between;
    align-items: center;
    gap: 133px;
    margin: auto;
    margin-top: 40px;
   
    
}
.banner h1{
    font-weight: bold;
    font-size: var(--secondary-font-size);
    color:var(--primary-text-color) ;
    
    
}
.banner p{
    font-weight: 600;
    
    color:var(--primary-text-color) ;
   


    
    
}
.img-container{
    height: 100%;
    background-image: url(images/Circle\ design.svg);
    background-position-y: -15px;
    background-position-x: -16px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
   
}
.text-container > *{ 
    margin-bottom: 16px;
    
}
.text-container {
    width: 60%;
    
} 

/* banner end */
/* main */
main,footer{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

main >section{
    margin-top: 80px!important;
margin: auto;
    width: 77%;
}
/* companies section start */
.companies{
   
    border: 0.5px solid rgb(192, 188, 188);
    border-left: 0;
    border-right: 0;
    margin:auto;
    justify-content: space-between;
    padding: 36px 61px;
    
}
/* companies section end */
/* Popular Collection start */
.popular-collection h3{
   font-size:var(--third-font-size) ;
   font-weight: 600;
color: var(--primary-font-size);
width: 100%;
text-align: center;
}
/* card */
.popular-collection .cards{
    padding-top:30px;
    display: grid;
  grid-template-columns: repeat(3,329px);
 justify-content: space-between;
 row-gap: 30px;
}
.popular-collection .card{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 14px;
    max-width: 329px;
}
.popular-collection .card h4{
font-size: var(--third-font-size);
font-weight: 500;
color: black;
font-family: inter;
margin-bottom: 6px;
margin-top: 10px;

}
.popular-collection .card h5{
    font-size: var(--primary-font-size);
 font-family: inter;
 color:rgba(0, 0, 0, 0.87);
 margin-bottom: 8px;

}
.popular-collection .review-box{
    display: flex;
    gap: 12px;
    align-items: center;
}
.popular-collection .stars{
    display: flex;
    gap: 5px;

}
.popular-collection .stars i{
    
    font-style: var(--fourth-font-size);
    font-weight: bold;
    color:#FB8200 ;
}
.popular-collection .review-box p{
    font-style: var(--fourth-font-size);
font-weight: bold;
color: #5E6366;
}
.popular-collection .card>p{
    font-size:var(--fourth-font-size) ;
    font-weight: bold;
    color: #787885;
}
.see-more{
    text-align: end;
    margin: 30px 50px 30px 0px;
    width: 100%;
    color: red;
}

/* Popular Collection end */
/* .featured-products start */
.featured-products{
    display: flex;
    gap: 96px;
    align-items: center;
}
.featured-products >*{
    width: 50%;
}
.featured-products .Featured-text-box .title{
font-size: var(--fifth-font-size);
font-weight: bold;
margin-bottom: 16px;

}
.Featured-text-box p{
font-size: 1rem;
font-weight: bold;
line-height: 28px;
margin-bottom: 16px;
color: rgba(108, 108, 108, 1);

}
.featured-products .primary-btn{
border-radius: 0;
}
/* .featured-products */
/* footer start */
footer{
    width: 100vw;
    max-width: 1440px;
    background-color: black;
    padding: 50px 0;
    text-align: center;
    color: white;
margin-top: 60px;}
footer h3{
    font-size:var(--primary-font-size) ;
    font-weight: bold;

}
footer p{
    font-size: var(--fourth-font-size);
    font-weight: bold;
    line-height: 28px;
}
footer .icon-parent{
        margin-top: 17px;
        display: flex;
        gap: 16px;
        justify-content: center;
}
.icon-parent i{
   font-size: 30px;
   color: white;
}
/* footer end */
/* responsive */
@media only screen and (max-width: 600px) {

    /* nav */
 .nav-ber-icon, .nav-shopping-icon{
    display: block;
 }
.nav-items{
    display: none;
}
.nav-title{
    font-size: 16px;
}
/* banner */
.banner{
    flex-direction:column-reverse ;
}
.img-container{
   
    width: 100%;
  text-align: center;
    max-width: 257px;
    margin: auto;
}
.text-container{
    text-align: center;
  width: 100%;
}
.text-container h1{
font-size: var(--third-font-size);
}
.text-container p{
font-size: var(--fourth-font-size);
}
/* companies */
.companies{
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    gap: 30px;
}
.companies img{
    width: 50px;
   
}
/* Popular Collection
 */
 .popular-collection{
    width: 100%;
 }
 .popular-collection .cards{
  
   justify-items: center;
  grid-template-columns:repeat(1,100%);

 justify-content: space-between;
 
}
.popular-collection img{
    width: 100%;
}
.popular-collection .card{
    width: 100%;
}
/* .featured-products */
.featured-products{
    flex-direction: column-reverse;
    gap: 20px;
    width: 90%;
   
}
.featured-products>*{
    width: 100%;
text-align: center;
}
.Featured-text-box .title{
font-size: var(--third-font-size);
}
.Featured-text-box p{
font-size:1rem;
}
.Featured-img-box{
   
}
/* footer */
footer h3{
    font-size: 1rem;
    
}
footer p{
    font-size: 0.75rem;

}
.icon-parent i{
    font-size: 20px;
}
}
